<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Awesome Movies</title>
    <link rel="stylesheet" href="home.css" />
  </head>

  <body>
  <h1>Awesome Movie Index Website</h1>
  <p> For an alphabetical list of movies, click <a href="/movies"> here </a> </p>

  <p> Or, search for movies by title: </p>
  <form action="/results" method="get">
    <label for="query">Search: </label>
    <input type="text" name="query" id="query" />
    <input type="submit" value="Search" />
  </form>

  </body>
